<!DOCTYPE html>
{% extends 'nav.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style='background-image:url({% static 'img/Savin-NY-Website-Background-Web1.jpg' %})'>
    {% if request.user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <div style='font-size:20px; text-align:center; margin-top: 200px;'>
                <p>are your sure to logout?</p>
                <button type="submit"> yes, logout</button>
            </div>
             
        </form>
   {% endif %}
</body>
</html>

{% endblock content %}