
<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static 'css/profile_edit.css' %}>
    <title>profile</title>
</head>
<body>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{profile.user.first_name}}</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">FirstName:</label><br>{{profile.user.first_name}}</div>
                        <div class="col-md-6"><label class="labels">LastName:</label><br>{{profile.user.last_name}}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number:</label> <br>{{profile.phone_number}}</div>
                        <div class="col-md-12"><label class="labels">edu_Email:</label> <br> {{profile.email}}</div>
                        <div class="col-md-12"><label class="labels">Wbsite:</label> <br>{{profile.website}}</div>
                        <div class="col-md-12"><label class="labels">Department:</label><br> {{profile.department}}</div>
                        <div class="col-md-12"><label class="labels">Acdmic postion:</label> <br> {{profile.postion}}</div>
                    </div>
                        <div class="mt-5 text-left" ><a href="{% url 'profile_edit' %}"><button class="btn btn-primary profile-button" type="button">Edit</button></a>
                            <a href="{% url 'home' %}"><button class="btn btn-primary profile-button"type="button">home</button></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>